# Ignore Visual Studio temporary files, build results, and
# user-specific files

appsettings.json
appsettings.Development.json
bin/
obj/
.vs/
*.user
*.suo
*.log
*.vspscc
*.vssscc
*.db
*.db-shm
*.db-wal
*.pdb
*.cache
*.class
*.dll
*.exe
*.ide
*.ipr
*.iws
*.iml
*.orig
*.rej
*.swp
*.swo
*.tmp
*.DS_Store
*.userosscache
*.sln.docstates
.nuget/
.vscode/
TestResults/
*.ncrunch*
*.ncrunchsolution
_ReSharper*/
*.DotSettings.user
.idea/
*.rptproj.user
*.rptproj
*.rptproj.bak
*.publishsettings
.publish/
*.azurePubxml
*.azurePubxml.user
*.scm
*.code-workspace