<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/47251977-d218-4381-a7a3-9682a4df13ae/resourceGroups/HelpFast/providers/Microsoft.Web/sites/HelpFastWeb</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://helpfastweb-dfh6cvhbbsgpf9as.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>63a828d1-150f-0d76-c0a4-7873fa71d94d</ProjectGuid>
    <PublishUrl>https://helpfastweb-dfh6cvhbbsgpf9as.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName>$HelpFastWeb</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>